
body {
    background: none;
    box-sizing: border-box;
    background: rgb(238,174,202); 
         background: radial-gradient(circle, rgb(208, 201, 185) 26%, rgb(205, 227, 223) 89%, rgb(205, 212, 181) 93%, rgb(151, 162, 217) 98%); 
}

#features {
    margin-top:20px;
}
.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;    
}
.feature {
    background:#FFFFFF;
    text-align:center;
    padding:20px;

    background: rgb(238,174,202); 
         background: radial-gradient(circle, rgb(208, 201, 185) 26%, rgb(205, 227, 223) 89%, rgb(205, 212, 181) 93%, rgb(151, 162, 217) 98%); 

    
   
}
.feature p {
    margin-top:20px;   
    margin-bottom:30px;   
    font-size: 16px;
}

.feature i{
    font-size:80px;
    color:#FFFFFF;
    background:#080079;
    padding:30px;
    border-radius:50%;
    border: solid 3px #080079;
}
.feature h3 {
    color:black;
    font-family: 'Times New Roman', Times, serif; 
    font-size: large; 
    margin-top: 15px;
}
.feature:hover {
    background:#F5F5F5;
    -webkit-transform: translate(0,3em);
    -moz-transform: translate(0,3em);
    -o-transform: translate(0,3em);
    -ms-transform: translate(0,3em);
    transform: translate(0,3em);    
}
.feature:hover i{
    color: #1C82AD;
    border-color:#0088CE;
    background:#FFFFFF;
}
.feature:hover .title_border {
    background-color:#1C82AD;
    width:50%;
}
.feature .title_border {
    width: 0%;
    height: 3px;
    color: #0088CE;
    background:#0088CE;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}
h1{
    font-size: 20px;
    font-style: italic;
}
.card{
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
width: 100%;
    background: rgb(238,174,202); 
         background: radial-gradient(circle, rgb(208, 201, 185) 26%, rgb(205, 227, 223) 89%, rgb(205, 212, 181) 93%, rgb(151, 162, 217) 98%); 
    

}
.card h1{

    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 3.5rem;
}
.card span {
    color: red;
}

 
    img{
        margin: 35px;
        margin-bottom: 10px;  
        text-align: center;    
        width: 200px;    
        padding: 30px;  
        filter:color #080079;
        height: 200px; 
      }

      
.testimonial{
    padding-top: 4rem;
    height: fit-content;
    margin-left: 11%;

    background: rgb(238,174,202); 
         background: radial-gradient(circle, rgb(208, 201, 185) 26%, rgb(205, 227, 223) 89%, rgb(205, 212, 181) 93%, rgb(151, 162, 217) 98%); 
    
}

.testimonial h1{
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

.testimonial span{
    color: #ff324f;
}

.col-4{
    
    flex-basis: 30%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s ease;
    background: #fff;
    margin-bottom: 3rem;
    margin-right: 1rem;
    
    
}

.col-4:hover{
    transform: translateY(-10px);
}

.col-4 img{
    width: 50px;
    margin-top: 1.5rem;
    border-radius: 50%;
    border: 0.8px solid #ff523b;
}
.col-4 p{
    font-size: 2rem;
    text-align: left;
    color: #555;
}

.col-4 h3{
    font-weight: 400;
    font-size: 1.5;
    color: #222;
}


.col-4 .rating{
    color: #f44343;
}

.col-4 span{
    color: #f44343;
}

.col-4 .fa-quote-left{
    color: #f44343;
    font-size: 1.8rem;
}

.rating{
    padding: 1rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: #f44343;
    text-align: center;
}
    

.container{
    max-width: 1300px;
    width: 90%;
    margin: 0% auto;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Source Serif Pro', serif;
    background: #fffafa;
    --color-black:#212529;
    --color-white:#ecfffd;
}