<body>
  <div class="header">
    <nav class="navbar">
      
     
          <!-- <label class="logo">CITIZENS BANK</label> -->
          <a><img src="assets/imageedit_1_2040773372.png" class="logo"></a>
          <div class="nav-links">
            <i class="fa fa-times" onclick="hideMenu()"></i>
         <ul>

         <button class="btn"> <li><a routerLink="home">Home</a></li>  </button>
         <button class="btn">   <li><a routerLink="emiCalculator">EMI Calculator</a></li>  </button>
         <button class="btn">  <li><a routerLink="aboutUs">About Us</a></li> </button>
          <!-- <li><a routerLink="contact"></a></li>   -->
          
          <button class="btn">   <li><a routerLink="loanEnquiry">Loan Enquiry</a></li> </button>
         
          <button class="btn">  <li><a routerLink="faq">FAQ'S</a></li> </button>
          <!-- <li><a routerLink="interestRate">Interest Rate</a></li> -->
          <button class="btn">   <li><a routerLink="signIN">SignIn</a></li>  </button>
        
          
        </ul><!-- .container -->
      </div>
    </nav>
  </div>
      <!-- <router-outlet></router-outlet> -->
     
    </body>




    