<body>
  <div class="header">
    <nav class="navbar">
      
     
          <!-- <label class="logo">CITIZENS BANK</label> -->
          <a><img src="assets/imageedit_1_2040773372.png" class="logo"></a>
          <div class="nav-links">
            <i class="fa fa-times" onclick="hideMenu()"></i>
         <ul>
          <!-- <button class="button-10" role="button">Home</button> -->
         <button class="btn"> <li><a routerLink="home"> <i class="fa fa-home" style="font-size:24px"></i> Home</a></li>  </button>
         <button class="btn">   <li><a routerLink="emiCalculator"><i class="fa fa-calculator" aria-hidden="true"></i> EMI Calculator</a></li>  </button>
         <button class="btn">  <li><a routerLink="aboutUs"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li> </button>
          <!-- <li><a routerLink="contact"></a></li>   -->
          
          <button class="btn">   <li><a routerLink="loanEnquiry">Loan Enquiry</a></li> </button>
         
          <button class="btn">  <li><a routerLink="faq">FAQ'S</a></li> </button>
          <!-- <li><a routerLink="interestRate">Interest Rate</a></li> -->
          <button class="btn">   <li><a routerLink="signIN"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>  </button>
        
          
        </ul><!-- .container -->
      </div>
    </nav>
  </div>
      <!-- <router-outlet></router-outlet> -->
     
    </body>




    