<footer class="text-center text-lg-start bg-light text-muted">
  
    <!-- Links -->
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2021 Copyright:
  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
  <p><i class="fas fa-home me-3"></i> Appna_Ro_Finance Karvenagar, pincode:411058</p>
  <p><i class="fas fa-envelope me-3"></i>
    <a href="mailto:mahajanMahesh24@gmail.com">mahajanmahesh2001"&#64;"gmail.com</a></p>
  <p><i class="fas fa-phone me-3"></i> +91 9766004061</p>
  <p><i class="fas fa-print me-3"></i> + 8888841455</p>
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>
<!-- Copyright -->
</footer>