


    <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
  

</head>
<body>
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">CITIZENS BANK</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Our Products</li>
        <li><a href="https://www.citizensbank.com/loans/home-mortgage.aspx">Home Loan</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/family-health-insurance">Family Health Insurance</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/health-insurance-for-senior-citizens"> Senior Citizen Health Insurance</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/maternity-health-insurance-plan">Maternity Health Insurance</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Already A Customer</li>
        <li><a href="https://www.careinsurance.com/get-policy-list.html">Otp Verification </a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-claim-center.html">Claims</a></li>
        <li><a href="https://www.careinsurance.com/self-help-portal.html">Self Help</a></li>
        <li><a href="https://www.careinsurance.com/rhicl/proposalcp/renew/index-care">Policy Renewal</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Download</li>
        <li><a href="https://cms.careinsurance.com/cms/public/uploads/claimsprocedurepdf/Claims_Procedure.pdf">Claim Procedure</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-claim-forms.html">Claim Form</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-proposal-forms.html">Proposal Form</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-brochure.html">Broucher&Prospectus</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Other Links</li>
        <li><a href="https://www.careinsurance.com/abha">ABHA</a></li>
        <li><a href="https://www.careinsurance.com/blog/">Blog</a></li>
        <li><a href="https://faveo.careinsurance.com/NewFaveo/#auth/login">Partner Login</a></li>
        <li><a href="https://www.careinsurance.com/know-your-customer">KYC</a></li>
      </ul>
      <ul class="box ">
        <li class="link_name">Contact Us</li>
        <li><a href="https://www.careinsurance.com/contact-us.html">Customer Support</a></li>
        <li><a href="https://www.careinsurance.com/rhicl/careers">Careers</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-agents.html">Agent/Partner</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-branch-locator.html">Branch Locator</a></li>
        
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2024 <a href="#">Jeevan Insurance </a>All rights reserved</span>
      <span class="policy_terms">
        <a href="https://www.careinsurance.com/privacy.html">Privacy policy</a>
        <a href="https://www.careinsurance.com/terms_conditions.html">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>
  
</body>
</html>
 
