<!-- <footer class="text-center text-lg-start bg-light text-muted">
  
    
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2021 Copyright:
  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
  <p><i class="fas fa-home me-3"></i> CITIZENS BANK  Karvenagar, pincode:411058</p>
  <p><i class="fas fa-envelope me-3"></i>
    <a href="mailto:mahajanMahesh24@gmail.com">mahajanmahesh2001"&#64;"gmail.com</a></p>
  <p><i class="fas fa-phone me-3"></i> +91 9766004061</p>
  <p><i class="fas fa-print me-3"></i> + 8888841455</p>
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>

</footer> -->

<!-- <p>footer works!</p> -->
<!-- 
<div class="navbar">
    <nav class="social">
        <ul>
            <li><a href="https://www.instagram.com/prasad_hatte/">Instagram <i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="">Github <i class="fa-brands fa-github"></i></a></li>
            <li><a href="">Telegram <i class="fa-brands fa-telegram"></i></a></li>
            <li><a href="">Twitter <i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="">Linkedin <i class="fa-brands fa-linkedin-in"></i></a></li>

        </ul>
    </nav>
    </div> -->

<!--         
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                       <a href="https://play.google.com/store/apps/details?id=com.cjconline"> <img src="images/play-store.png" alt=""></a>
                       <a href="https://apps.apple.com/us/app/cjc-fire-and-rescue/id1452267824"> <img src="images/app-store.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 footer-col-2">
                    <a class="f-logo">
                        <h1>JEEVAN &nbsp;<span>INSURANCE</span></h1>
                    </a>
                    <p></p>
                </div>
                <div class="col-6 footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href=""> Join us</a></li>
                        <li> Blog Post</li>
                        <li> Feedback</li>
                        <li> Support us</li>
                    </ul>
                </div>
               
            </div>
            <hr>
            <p class="copyright"></p>
            <p class="copyright"><a href="#">Meet our<span>Team</span></a></p>
        </div>
    </div> -->


    <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
  

</head>
<body>
<!-- partial:index.partial.html -->
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">CITIZENS BANK</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Our Products</li>
        <li><a href="https://www.citizensbank.com/loans/home-mortgage.aspx">Home Loan</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/family-health-insurance">Family Health Insurance</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/health-insurance-for-senior-citizens"> Senior Citizen Health Insurance</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance/maternity-health-insurance-plan">Maternity Health Insurance</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Already A Customer</li>
        <li><a href="https://www.careinsurance.com/get-policy-list.html">Otp Verification </a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-claim-center.html">Claims</a></li>
        <li><a href="https://www.careinsurance.com/self-help-portal.html">Self Help</a></li>
        <li><a href="https://www.careinsurance.com/rhicl/proposalcp/renew/index-care">Policy Renewal</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Download</li>
        <li><a href="https://cms.careinsurance.com/cms/public/uploads/claimsprocedurepdf/Claims_Procedure.pdf">Claim Procedure</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-claim-forms.html">Claim Form</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-proposal-forms.html">Proposal Form</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-brochure.html">Broucher&Prospectus</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Other Links</li>
        <li><a href="https://www.careinsurance.com/abha">ABHA</a></li>
        <li><a href="https://www.careinsurance.com/blog/">Blog</a></li>
        <li><a href="https://faveo.careinsurance.com/NewFaveo/#auth/login">Partner Login</a></li>
        <li><a href="https://www.careinsurance.com/know-your-customer">KYC</a></li>
      </ul>
      <ul class="box ">
        <li class="link_name">Contact Us</li>
        <li><a href="https://www.careinsurance.com/contact-us.html">Customer Support</a></li>
        <li><a href="https://www.careinsurance.com/rhicl/careers">Careers</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-agents.html">Agent/Partner</a></li>
        <li><a href="https://www.careinsurance.com/health-insurance-branch-locator.html">Branch Locator</a></li>
        
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2024 <a href="#">Jeevan Insurance </a>All rights reserved</span>
      <span class="policy_terms">
        <a href="https://www.careinsurance.com/privacy.html">Privacy policy</a>
        <a href="https://www.careinsurance.com/terms_conditions.html">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>
  
</body>
</html>
 <h6>Meet our Team</h6>
