<div class="wrapper">
    <div class="top_nav" > 
        <div class="left">            
            
        </div>
        <div class="right1">
             <ul>
                <li><a href="#">Email US<br></a>
                    <p>info"&#64;"universalfinances"&#64;"gmail.com</p>
                </li>
                <li><a href="#">Call Us</a>
                    <p>+91 9870000010</p>
                </li>
            </ul>
        </div> 
    </div>
</div>
    
    
     <!-- <div class="header">
        <nav class="navbar">
          <a><img src="assets\images\jeevan--insurance-high-resolution-logo-transparent.png" class="logo"></a>
          
          <div class="nav-links">
              <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                 <button class="btn"> <li><a routerLink="homepage">Home</a></li></button>
                 &nbsp;
                 <button class="btn"> <li><a routerLink="about">About us</a></li></button>
                 &nbsp;
                <button class="btn">  <li><a routerLink="contact">Contact us</a></li></button>
                &nbsp;
                <button class="btn">  <li><a routerLink="hospital">Hospital</a></li></button>
                &nbsp;
                <button class="btn">  <li><a routerLink="register">Register</a></li></button>
                &nbsp;
                 <button class="btn"> <li><a routerLink="login">Login</a></li></button>
              </ul>
              <i class="fa fa-bars" onclick="showMenu()"></i>
          </div>  
      </nav> -->