<table class="table" *ngIf="customerdetails && customerdetails.ledger && customerdetails.ledger.installments">
  <thead class="heading">
    <tr><!--10 entities-->  
      <th scope="col">Installment Id</th>      
      <th scope="col">Installment Number</th> 
      <th scope="col">Installment Month</th>        
      <th scope="col">Paid Date</th> 
      <th scope="col">Payment Status</th>   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let installmentobj of customerdetails.ledger.installments">
      <td>{{installmentobj.installmentId}}</td>
      <td>{{installmentobj.installmentNumber}}</td>
      <td>{{installmentobj.installmentMonth}}</td>
      <td>{{installmentobj.installementPaidDate}}</td>
      <td>{{installmentobj.paymentStatus}}</td>          
    </tr>
  </tbody>
</table>
